/* Main layout CSS. */

/* THE BIG GUYS */
* { margin: 0; padding: 0; }

body {
	text-align: center;
	padding: 10px 0;
	background: #1c1c1c;
/*	background-image: url(icons/ssplogo-fish.png);
	background-repeat: no-repeat; */
	color: #333;
	/*font: 83%/1.5 arial,tahoma,verdana,sans-serif;*/
   font: 83% arial,tahoma,verdana,sans-serif;
}

img { border: none; }

hr {
	margin: 1em 0;
	background: #eee;
	height: 1px;
	color: #eee;
	border: none;
	clear: both;
}




/* LAYOUT */

#wrap {
	background: #fff;
	
	border: 1px solid #fff;
	position: relative;
	text-align: left;
	
	margin: 20px 75px 2em 75px;
	max-width: 950px;
}

#languagebar { padding: 0 10px; }
#languagebar a:link, #languagebar a:visited {
	text-decoration: none;
	color: #777;
	border-bottom: 1px dotted #ccc;
	font-weight: normal;
}
#languagebar a:hover {
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #333;
}


#header {
	background-color: #666666;
   background-image: url("sprites.gif");
   background-repeat: repeat-x;
   background-position: 0 -1921px;
	margin: 0px;
	padding: 0 0 8px;
}

#header h1 {
    color: #FFFFFF;
    font-size: 20pt;
    padding: 1.8ex 1em 1.0ex;
    font-weight: bold;
    margin: 0;
}


#main { padding: 2ex 0; }

/*#content { padding: 0 20px; margin-top: 2em; }*/

#menu_container { width: 230px; padding: 0 10px; }








/* LINKS */
a, a:link, a:hover, a:visited  {
	text-decoration: none;
	color: #777;
	border-bottom: 1px dotted #ccc;
	font-weight: normal;
}

.ui-tabs-nav a {
	border: none ! important;
	text-decoration: none;
}

a:visited { color: #999; } 

a:hover, a:active {
	color: #069;
	border-bottom: 1px solid #333;
} 

/* LISTS */
ul { margin: .3em 0 1.5em 2em; }
ul.related { margin-top: -1em; }
li { margin-left: 2em; }
dt { font-weight: bold; }


/* TYPOGRAPHY */
p, ul, ol {
	margin: 0 0 1.5em;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
	letter-spacing: -1px;
	font-family: arial,verdana,sans-serif;
	margin: 1.2em 0 .3em;
	color: #000;
	border-bottom: 1px solid #eee;
	padding-bottom: .1em;
}

#content h1 {
	font-size: 196%;
	margin-top: 0;
	border: none;
}
#content h2 { font-size: 136%; }
#content h3 { font-size: 126%; }
#content h4 { font-size: 116%; font-weight: bold; }
#content h5 { font-size: 106%; }
#content h6 { font-size: 96%; }

h1 a {
	text-decoration: none;
	border: none ! important;
	color: white;
}

h1 a:hover {
	border-bottom: 1px dotted #eee;
}
