/******************************************************************************************
* 
*   CSS  for JawaBot web UI
* 
******************************************************************************************/




body {
  font-family: "Arial CE", Arial, "Tahoma CE", Tahoma, sans-serif;
  font-size: 10pt;
  color: black;
  background-color: #404040; /* #C1DDF3 - blankyt */
  margin: 0;
}



/*@import URL('common.css');*/


body, table  {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10pt;
}

a         { color: #cc5500; }
a:active  { color: #ff6600; }
a:visited { color: #aa4400; }


#header {
   border-bottom: 1px solid orange;
   padding: 1.6ex 0 1.4ex;
   color: #1D689F;
   background-color: silver;
}
#header h1 { margin: 0ex 0.5em 0.0ex; }



#main {
   background-color: white;
   padding: 2ex 0;
   border-bottom: 2px solid orange;
}



#menu {
   font-family: Verdana, sans-serif;
   font-size: 9pt;
}
#menu a { text-decoration: none; }

#menu .level0 > span {
   display: block;
   padding: 1px 0;
   text-align: center;
   background-color: orange;
   font-weight: bold;
   color: black;
}

#menu ul.level1 {
   padding: 2px 0px 6px;
}


#obsah {
   padding: 0 2em;
}

#obsah h1 {
   padding: 0;
}

#obsah table th { font-weight: normal; }
#obsah table a { text-decoration: none; }





